.App {
    display: grid;
    grid-template-areas:
        "clock weather"
        "speed speed"
        "max-speed heart-rate"
    ;
    grid-auto-rows: min-content auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    grid-gap: 4vw;
    padding: 4vw;
    box-sizing: border-box;
    font-size: 20vw;
}
