@font-face {
    font-family: 'lcdbold';
    src: url('./lcd-bold-webfont.woff2') format('woff2'),
         url('./lcd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  font-family: lcdbold, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: lcdbold, monospace;
  padding: 0;
  border: 0;
  color: white;
  background: none;
  font-size: inherit;
}